{% extends 'base.html' %}
    {% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Techniks Ecommerce</p>
            </div>
        </div>
    </header>
    
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                <p class="mt-5" align="justify" >
                    Commodo veniam esse Lorem culpa. Anim qui exercitation amet deserunt minim culpa eiusmod deserunt ullamco. Ad elit duis ut irure ut anim. Excepteur incididunt velit nisi velit ut aute qui qui et cupidatat laborum mollit. Aliquip labore duis consectetur esse dolor. Aliqua cillum ad exercitation in. Ullamco commodo exercitation esse voluptate do.
                    <br/><br/>
                    Culpa est ea aliqua deserunt consectetur nisi laboris nisi labore do sit adipisicing mollit. Esse duis velit aliqua reprehenderit amet aute. Velit qui voluptate labore dolor irure enim tempor ipsum. Lorem velit deserunt ut excepteur cillum exercitation est dolor est elit.
                    <br/><br/>
                    Elit occaecat pariatur Lorem commodo aute magna. Sint id veniam veniam ut reprehenderit labore reprehenderit cillum ex consectetur. Minim labore anim exercitation amet incididunt qui proident proident occaecat voluptate deserunt. Laborum ut excepteur quis et laboris voluptate exercitation ad. Proident laboris velit dolore esse Lorem ullamco.
                    <br/><br/>
                    Excepteur id occaecat fugiat culpa eiusmod. Adipisicing anim nisi mollit minim. Ipsum adipisicing Lorem amet nulla qui deserunt fugiat occaecat qui deserunt.
                </p>
                </div>
            </center>
        </div>
    </div>
    <br>

    {% endblock %}